[Unit]
Description=telegram bot for printing
After=cups.service

[Service]
EnvironmentFile=/home/pi/printermasterbot/.env
User=pi
WorkingDirectory=/home/pi/printermasterbot
ExecStart=/usr/bin/python3 bot.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
